%section.page-block
  .container
    .page-header
      %h2 운영툴
    .row
      .col-xs-12.col-sm-6
        .well
          .text-center
            %h3= link_to '공지사항 추가하기', new_notice_path

      .col-xs-12.col-sm-6
        .well
          .text-center
            %h3= link_to '일정 추가하기', new_event_path
