@import "bootstrap-sprockets";
@import "bootstrap";

*{
  font-family:AppleSDGothic,"apple sd gothic neo","noto sans korean","noto sans korean regular","noto sans cjk kr","noto sans cjk","nanum gothic","malgun gothic",dotum,sans-serif;
}
body{
  background-color:#fff;
  color: #444;
}

a {
  color: #111;
  text-decoration: underline;
  &:hover {
    color: #999;
  }
}

#intro-section {
  background-color: #519AAB;
  background-image: image_url('main.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  @media (max-width: $screen-xs-max) {
    height: 200px;
  }
}

.platform-card {
  background-size: cover;
  background-position: center center;
  border-radius: 12px;
  height: 300px;
  padding: 24px;
  padding-top: 48x;
  margin-bottom: 36px;

  a {
    text-decoration: none;
  }

  &__title {
    color: #fff;
    font-size: 48px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    word-break: keep-all;
    @media (max-width: $screen-xs-max) {
      font-size: 32px;
    }
  }
  &__description {
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }
}

.page-block {
  padding: 48px 0;
}
