%section#footer
  .container{ style: 'border-top: 1px solid #ccc' }
    %section{ style: 'padding: 14px 0' }
      %h4
        = link_to root_path do
          국민주도헌법개정네트워크
          %strong 국민개헌.net

      %dl.list-unstyled
        %dt
          시민사회단체연대회의 소속단체
        %dl
          흥사단, 한국YMCA전국연맹, 한국여성단체연합, 환경운동연합, 참여연대, 민주사회를위한변호사모임, 경실련(광주경실련/대구경실련/대전경실련/부산경실련/인천경실련/광명경실련/군포경실련/수원경실련/안산경실련/김포경실련/이천여주경실련/양평경실련/강릉경실련/속초경실련/춘천경실련/천안아산경실련/청주경실련/거제경실련/경주경실련/구미경실련/순천경실련/여수경실련/목포경실련/군산경실련/전주경실련/정읍경실련/제주경실련)

        %dt
          법률 및 학술 연구단체
        %dl
          민주화를위한전국교수협의회, 민주주의법학연구회, (사)한국여성정치연구소

        %dt
          개헌 관련 연대단체
        %dl
          국민주권개헌행동, 주권자전국회의, 국민참여개헌시민행동(준), 지방분권개헌국민행동, 헌법개정여성연대, 지방분권형 헌법개정 광주전남주권회의, 헌법개정실천운동 인천본부(준), 지방분권전국연대, 지방분권부산시민연대, 농민권리와 먹거리 기본권 실현을 위한 헌법개정 운동본부(전국농민회총연맹/전국여성농민회총연맹/전국친환경농업인연합회/가톨릭농민회/두레생협연합회/아산제터먹이사회적협동조합/지역재단/젠더&연구소/아이쿱소비자활동연합회/한살림연합/한국농어촌사회연구소/정농회/온순환협동조합/천주교정의구현전국연합/GMO반대전국행동/국제슬로푸드한국협회/친환경무상급식풀뿌리국민연대/전국협동조합노동조합/NH농협중앙회노동조합/행복중심생협연합회/환경정의/국민행복농정연대/불교환경연대/인드라망/생명공동체/이시도르/지속가능연구소/한국농어촌공사노동조합/한국농수산식품유통공사노동조합/한국마사노동조합/국립농산물품질관리원노동조합/농업정책보험금융원노동조합/가축위생방역지원본부노동조합/축산물품질평가원노동조합/서울시농수산식품유통공사노동조합/농림수산식품기획평가원노동조합/전국경마장마필관리사노동조합/(사)전국쌀생산자협회/(사)희망먹거리네트워크/(사)환경농업단체연합회/(사)국민농업포럼/(사)전국도시농업시민협의회)

        %dt
          일반 연대단체
        %dl
          참여자치지역운동연대(경기북부참여연대/대구참여연대/대전참여자치시민연대/마창진참여자치시민연대/부산참여연대/성남참여자치시민연대/세종참여자치시민연대/여수시민협/울산시민연대/익산참여자치연대/인천평화복지연대/제주참여환경연대/참여연대/참여와자치를위한춘천시민연대/참여자치21(광주)/참여자치전북시민연대/충남참여자치지역운동연대/충북참여자치시민연대/투명사회를위한정보공개센터/평택참여자치시민연대
          한국진보연대

        %dt
          부문 및 개별단체
        %dl
          민주노총, 동학실천시민행동, 다산인권센터, 정의연대, 인천평화복지연대, 416연대, 바꿈, 빠띠, (사)징검다리교육공동체, 장애인차별철폐연대, 동물보호시민단체카라
